.news {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  margin-top: 80px;
  &__content {
    ul {
      border: none;
      li {
        a {
          font-size: 22px;
          transition: 0.5s all;
          font-weight: bold;
          color: #333333;
          border: none;
          &:hover {
            border: none;
          }
          &:focus {
            border: none;
          }
          &.active {
            color: #fa5238 !important;
            font-size: 24px;
          }
        }
      }
    }
    .dienAnh24h {
      margin-top: 30px;
      img {
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
      }
      a {
        text-decoration: none;
        color: #333333;
        font-size: 18px;
        font-weight: 500;

        transition: all 0.5s;
        p {
          margin-top: 20px;
        }
        &:hover {
          color: #fa5238;
        }
      }
      .text {
        font-size: 16px;
      }
    }
    span {
      i {
        font-size: 18px;
        transition: all 0.5s;
        &:hover {
          font-size: 20px;
        }
      }
      i:nth-child(2) {
        margin-left: 20px;
      }
    }
  }
  .right {
    margin-top: 30px;
  }
  .right1 {
    img {
      border-radius: 5px;
    }
    p {
      font-size: 16px;
      font-weight: 400;

      transition: all 0.5s;
      &:hover {
        color: #fa5238;
      }
    }
  }
}
