.detailFilm {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("http://movie0706.cybersoft.edu.vn/hinhanh/trainwreck.jpg");
    background-position: center;
    background-size: cover;
}
