

.detail-wrapper {

    height: 500px;
    width: 100%;
    position: relative;


    & .bg-fade {
        background-image: url("./../asset/images/backapp.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        filter: blur(3px);

    }

    & .detail-container {
        & .row {

        }
    }
}