.film {
  margin-top: 80px;
  &__content {
    .active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dadyCard {
        margin: 20px 0;
        .card {
          width: 100%;
          height: 100%;
          .card-body {
            .card-title {
              height: 100%;
              font-size: 18px;
              font-weight: 700;
              // margin-left: 15px;
              text-align: center;
              color: #333333;

              position: relative;
              z-index: 3;
              transform: translateY(35px);
              transition: 0.5s all;
            }
            .buy {
              position: relative;
              z-index: 3;
              color: #fff;
              opacity: 0;
              transform: translateY(35px);
              transition: 0.5s all;
              a {
                margin: 5px 20px;

                text-decoration: none;
                background-color: #fb4226;
                color: #fff;
                font-size: 22px;
                padding: 10px 40px;
                border-radius: 10px;
                text-align: center;
                transition: 0.4 ease-in-out;
                &:hover {
                  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
                }
              }
            }
          }
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
          transition: 0.5s ease-in-out;
          background: #fff;
          &:hover {
            .card-title {
              // display: none;
              transform: translateY(-150px);
            }
            transform: translateY(20px);
            &::before {
              opacity: 1;
            }
            .card-body {
              .buy {
                opacity: 1;
                transform: translateY(-100px);
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to bottom,
              rgba(0, 176, 155, 0.5),
              rgba(150, 201, 61, 1)
            );

            z-index: 2;
            transition: 0.5s all;
            opacity: 0;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .navMe {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        a {
          background-color: none;
          color: #333333 !important ;
          font-size: 22px;
          font-weight: bold;
          background-color: #fff !important;
          &:hover {
            background-color: transparent;
          }
          &:focus {
            font-size: 26px;
            color: #fb4226 !important;
            background-color: transparent;
          }
          // &:visited {
          //   font-size: 26px;
          //   color: #fb4226;
          //   background-color: transparent;
          // }
        }
      }
    }
  }
}
