$background-color-button-mua-ve: #fb4226;

$color-button-mua-ve: #ffffff;
$color-navMe-focus: #fb4226;

$background-hover-card-linear-gradient: to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1);
$box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);

.film {
  margin-top: 80px;
  &__content {
    .active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dadyCard {
        margin: 20px 0;
        .card {
          width: 100%;
          height: 100%;
          .card-body {
            // .trailer {
            //   z-index: 10000;
            //   position: absolute;
            //   top: 50%;
            //   left: 50%;
            //   transform: translate(-50%, -50%);
            //   // button {
            //   //   position: absolute;
            //   //   top: 50%;
            //   //   left: 50%;
            //   //   transform: translate(-50%, -50%);
            //   // }
            // }
            .card-title {
              height: 100%;
              font-size: 18px;
              font-weight: 700;
              // margin-left: 15px;
              text-align: center;
              color: #333333;

              position: relative;
              z-index: 3;
              transform: translateY(35px);
              transition: 0.5s all;
            }
            .buy {
              position: relative;
              z-index: 3;
              color: #fff;
              opacity: 0;
              transform: translateY(35px);
              transition: 0.5s all;
              a {
                margin: 5px 20px;

                text-decoration: none;
                background-color: $background-color-button-mua-ve;
                color: $color-button-mua-ve;
                font-size: 22px;
                padding: 10px 40px;
                border-radius: 10px;
                text-align: center;
                transition: 0.4s ease-in-out;
                &:hover {
                  box-shadow: $box-shadow;
                }
              }
            }
          }
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: $box-shadow;
          transition: 0.5s ease-in-out;
          background: #fff;
          &:hover {
            .card-title {
              // display: none;
              transform: translateY(-150px);
            }
            transform: translateY(20px);
            &::before {
              opacity: 1;
            }
            .card-body {
              .buy {
                opacity: 1;
                transform: translateY(-100px);
              }
            }
            //Trailer
            // &::after {
            //   content: "A";
            //   height: 10px;
            //   width: 10px;
            //   position: absolute;
            //   top: 50%;
            //   left: 50%;
            //   transform: translate(-50%, -50%);
            //   z-index: 10000;
            //   font-weight: bold;
            // }
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient($background-hover-card-linear-gradient);

            z-index: 2;
            transition: 0.5s all;
            opacity: 0;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .navMe {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        a {
          &.active {
            color: #fb4226;
          }
          background-color: none;
          color: #333333 !important ;
          font-size: 22px;
          font-weight: bold;
          background-color: #fff !important;
          transition: all 0.2s;
          &:hover {
            background-color: transparent;
            font-size: 24px;
          }
          &:focus {
            font-size: 26px;
            color: $color-navMe-focus !important;
            background-color: transparent;
          }
          // &:visited {
          //   font-size: 26px;
          //   color: #fb4226;
          //   background-color: transparent;
          // }
        }
      }
    }
  }
}
