.bg_login {
  img {
    position: absolute;
    left: 0;
    top: 10;
    width: 1536px;
    height: 680px;
    padding-left: -500px;
  }
  .box_login {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 35%;
    .row {
      .text_box {
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid #fb4226;
        .lb_login {
          color: white;
          font-size: 40px;
          font-family: sans-serif;
          border-bottom: 6px solid #fb4226;
          margin-bottom: 50px;
        }
        input {
          border: none;
          outline: none;
          background: none;
          color: red;
          font-size: 18px;
          width: 210px;
          margin: 10px;
        }
        .btn {
          width: 500px;
        }
      }
    }
  }
}
